RestService1/src/main/resources/BookService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/BookService" xmlns:tns="http://www.example.org/BookService" elementFormDefault="qualified">

    <element name="book">
    	<complexType>
    		<sequence>
    			<element name="isbn" type="string"></element>
    			<element name="title" type="string"></element>
    		</sequence>
    	</complexType>
    </element>
</schema>