ErrorService/src/main/resources/SimpleService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ttdev.com/ss" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SimpleService" targetNamespace="http://ttdev.com/ss">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ttdev.com/ss">
      <xsd:element name="concat">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="s1" type="xsd:string" />
          	<xsd:element name="s2" type="xsd:string"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="concatResponse">

      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="r" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="productQuery" type="tns:productQueryComplexType">

      </xsd:element>
      <xsd:element name="productQueryResult">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="resultItem" maxOccurs="unbounded" minOccurs="1">
      				<xsd:complexType>
      					<xsd:sequence>
      						<xsd:element name="productId"
      							type="xsd:string">
      						</xsd:element>
      						<xsd:element name="price"
      							type="xsd:int">
      						</xsd:element>
      					</xsd:sequence>
      				</xsd:complexType></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="productQueryComplexType">

      	<xsd:sequence>
      		<xsd:element name="queryItem" maxOccurs="unbounded" minOccurs="1">
      			<xsd:complexType>
      				<xsd:sequence>
      					<xsd:element name="productId"
      						type="xsd:string">
      					</xsd:element>
      					<xsd:element name="qty"
      						type="xsd:int">
      					</xsd:element>
      				</xsd:sequence>
      			</xsd:complexType></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="invalidProductId">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="f01" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="queryFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="queryFault" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
            <xsd:element name="invalidQty" type="xsd:string"></xsd:element>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="concatRequest">
    <wsdl:part element="tns:concat" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="concatResponse">
    <wsdl:part element="tns:concatResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="queryRequest">
  	<wsdl:part name="parameters" element="tns:productQuery"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryResponse">
  	<wsdl:part name="parameters" element="tns:productQueryResult"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryInvadidProductString">
  	<wsdl:part name="NewPart" type="xsd:string"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryFault2">
  	<wsdl:part name="parameters" element="tns:invalidProductId"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryInvalidProductId">
  	<wsdl:part name="parameters" element="tns:invalidProductId"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryFault1">
  	<wsdl:part name="parameters" element="tns:queryFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryInvalidQty">
  	<wsdl:part name="parameters" element="tns:invalidQty"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SimpleService">
    <wsdl:operation name="concat">
      <wsdl:input message="tns:concatRequest"/>
      <wsdl:output message="tns:concatResponse"/>
    </wsdl:operation>
    <wsdl:operation name="query">
    	<wsdl:input message="tns:queryRequest"></wsdl:input>
    	<wsdl:output message="tns:queryResponse"></wsdl:output>
            <wsdl:fault name="f01" message="tns:queryInvalidProductId"></wsdl:fault>
            <wsdl:fault name="f02" message="tns:queryInvalidQty"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SimpleServiceSOAP" type="tns:SimpleService">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="concat">

  		<soap:operation soapAction="http://ttdev.com/ss/concat" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="query">

  		<soap:operation soapAction="http://ttdev.com/ss/query" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  		<wsdl:fault name="f01">
  			<soap:fault use="literal" name="f01" />
  		</wsdl:fault>
  		<wsdl:fault name="f02">
  			<soap:fault use="literal" name="f02" />
  		</wsdl:fault>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SimpleService">
    <wsdl:port binding="tns:SimpleServiceSOAP" name="p1">
      <soap:address location="http://localhost:8080/ss/p1/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
